[{kernel, 
        [{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "./var/log/nextim_sasl.log"}}]},
 {nextim, 
        [{webauth, [{domain, "$DOMAIN"}, {apikey, "$APIKEY"}]},
        {meter_logger, [{file, "var/log/meter.log"}]},
        {httpd, [{ip, "0.0.0.0"}, {port, 8000}]}]}
].
